@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--dark: #52717bff;
		--normal: #251c18ff;
		--light: #dae3e7ff;
		--lighter: #91acb6ff;
		--luna-pink: #E95DB8ff;
		--luna-blue: '#017EC3ff';
		--luna-green: '#00A874ff';
		--luna-yellow: '#FBC80Aff';
		--luna-orange: '#F5811Fff';
		--luna-red: '#EF5A43ff';
	}
}

@font-face {
	font-family: 'Luna';
	src: url('assets/fonts/black.otf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Luna';
	src: url('assets/fonts/bold.otf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Luna';
	src: url('assets/fonts/medium.otf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Luna';
	src: url('assets/fonts/light.otf');
	font-weight: 300;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 25px;
	background: var(--dark);
}

::-webkit-scrollbar-track {
	background: var(--light);
}

body {
	font-family: 'Luna';
	overflow-x: hidden;
}