@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--dark: #52717bff;
		--normal: #251c18ff;
		--light: #dae3e7ff;
	}
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 25px;
	background: var(--dark);
}

::-webkit-scrollbar-track {
	background: var(--light);
}

body {
	overflow-x: hidden;
}